<%= bootstrap_form_for(@customer) do |form| %>
  <% if customer.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
        <% customer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <%= form.text_field :first_name %>
    <%= form.text_field :last_name %>
    <%= form.text_field :phone %>
    <%= form.text_field :email %>
    <%= form.submit %>
<% end %>
