<%= bootstrap_form_for(@quotation) do |form| %>
  <% if @quotation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(quotation.errors.count, "error") %> prohibited this quotation from being saved:</h2>

      <ul>
        <% @quotation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.file_field :attachment, class: "form-control", accept: 'application/pdf, 
    application/zip,application/vnd.openxmlformats-officedocument.wordprocessingml.document' %>
  </div>

  <div>
    <%= form.date_field :date %>
  </div>

  <div>
    <%= form.text_area :comment %>
  </div>

  <div>
    <%= form.collection_select :customer_id, Customer.all, :id, :first_name, { prompt: "Select a customer" }, { class: "form-control" } %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
