<div id="<%= dom_id quotation %>">
  <p>
    <strong>Attachment:</strong>
    <%= link_to quotation.attachment.filename, url_for(quotation.attachment) if quotation.attachment.attached? %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= quotation.date %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= quotation.comment %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= quotation.customer_id %>
  </p>

</div>
